

body {
    width: 800px;
    background-color: rgb(99, 81, 81);
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;

}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:nth-child(odd) {
    background-color: blueviolet;
}

table {
    width: 100%;
    border: 20px;

}

header {
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 10px white;
    background-color: rgb(175, 57, 57);
}

h1 {
    font-size: 50px;
    float: right;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}



#asideid {
    margin-bottom: 30px;
}


img {
    height: 100px;
    width: 140px;
    margin-top: 40px;
    border: 2px solid rgb(23, 80, 133);
    margin-right: 20px;
    transition: all .05s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

section {
    text-align: center;
}

   .link {
    display: block;
    padding: 5px;
    width: 24px;
    /* height: 10px;    */
    background: rgb(175, 57, 57); 
    color: rgb(0, 0, 0);      
    font-size: 15px; 
} 

